<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/bank.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Register</h3>
            <div class="social-line text-center">
              <p>Enter User Details</p>
            </div>
            <form *ngIf="!isSuccessful" name="form" #f="ngForm" novalidate
                  class="login-form" id="login-form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6 col-sd-12">
                  <label>Username</label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="nc-icon nc-single-02"></i>
                                            </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" id="username" name="username"
                           [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel">
                  </div>
                  <div class="alert-danger" *ngIf="username.errors && f.submitted">
                    <div *ngIf="username.errors['required']">Username is required</div>
                    <div *ngIf="username.errors['minlength']">
                      Username must be at least 3 characters
                    </div>
                    <div *ngIf="username.errors['maxlength']">
                      Username must be at most 20 characters
                    </div>
                  </div>
                  <label>Email</label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="nc-icon nc-email-85"></i>
                                            </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email" id="email"
                           name="email" [(ngModel)]="form.email" required email #email="ngModel">
                  </div>
                  <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['required']">
                      Email must be a valid email address
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sd-12">
                  <label>Password</label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="nc-icon nc-key-25"></i>
                                            </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" id="password"
                           name="password" [(ngModel)]="form.password" required minlength="4" #password="ngModel">
                  </div>
                  <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 ml-auto mr-auto">
                <button class="btn btn-round btn-danger btn-block" type="submit">Register</button>
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                  Signup failed!<br />{{ errorMessage }}
                </div>
              </div>
            </form>
            <div class="alert alert-success" *ngIf="isSuccessful">
              Your registration is successful!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
