<nav *ngIf="isLogin() || isRegister()" class="navbar navbar-expand-lg fixed-top navbar-transparent"
     color-on-scroll="500">
  <div class="container">
    <div class="navbar-transparent">
      <a class="navbar-brand" routerLink="/home">Banking System</a>
      <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
              data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation" (click)="sidebarToggle()">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isLogin()">
          <a routerLink="register" class="nav-link"><i class="nc-icon nc-badge nav-icon"></i>Register</a>
        </li>
        <li class="nav-item" *ngIf="isRegister()">
          <a routerLink="login" class="nav-link"><i class="nc-icon nc-touch-id nav-icon"></i>Login</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
<nav *ngIf="!(isLogin() || isRegister())" class="navbar navbar-expand-lg nav-margin fixed-top ">
  <div class="container">
    <div class="navbar-default">
      <a class="navbar-brand" routerLink="/home">Banking System</a>
      <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
              data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation" (click)="sidebarToggle()">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" id="navbarTogglerHome">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="profile" class="nav-link"><i class="nc-icon nc-single-02 nav-icon"></i>Profile</a>
        </li>
        <li class="nav-item">
          <a routerLink="account" class="nav-link"><i class="nc-icon nc-book-bookmark nav-icon"></i>Account</a>
        </li>
        <li class="nav-item">
          <a routerLink="" (click)="logout()" class="nav-link"><i class="nc-icon nc-lock-circle-open nav-icon"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

